.shop-container {
  height: calc(100vh - 2.4vh);
  padding: 2rem 4rem;
  // position: relative;
}

.back-link {
  margin-bottom: 1.5rem;

  a {
    color: #555555;
    font-size: 0.95rem;
    text-decoration: none;
  }
}

.back-link a:hover {
  text-decoration: underline;
}

.shop-content {
  display: flex;
  align-items: center;
  gap: 3rem;
}

/* Left Section */
.left-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1;
  text-align: center;
}

.left-section img {
  width: 100%;
  max-width: 320px;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.note {
  font-size: 0.9rem;
  color: #555555;
}

/* Right Section */
.right-section {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.special {
  font-size: 0.95rem;
  color: #555555;
  text-decoration: underline;
}

.title {
  font-size: 1.8rem;
  color: #1d70b8;
  margin: 0;
}

.price {
  font-size: 1.4rem;
  margin: 0.5rem 0;
  color: #555555;
}

.desc {
  font-size: 1rem;
  color: #555555;
  line-height: 1.6;
}

.delivery-title {
  font-size: 1rem;
  margin-top: 1rem;
  color: #555555;
}

.delivery-date {
  font-size: 1.1rem;
  font-weight: 600;
  color: #555555;
}

.link {
  font-size: 0.95rem;
  color: #555555;
  text-decoration: underline;
  margin-top: 1rem;
  text-align: left;
}

.preorder-btn {
  margin-top: 1.5rem;
  background: #1d70b8;
  color: #fff;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  transition: background 0.3s ease;
  width: fit-content;
}

.preorder-btn:hover {
  background: #155a92;
}
