<div class="modal-overlay">
    <div class="modal-container">
        <!-- Close button -->
        <button class="close-btn" (click)="onClose()">
            <img src="assets/images/close_btn.png" alt="">
        </button>

        <!-- Title -->
        <h2 class="title">Skye</h2>

        <!-- Product diagrams -->
        <div class="product-diagram">
            <div class="diagram">
                <p class="diagram-title">Front</p>
                <img class="mb-2" src="assets/images/line.png" alt="Front view" />
                <img class="front-back-image" src="assets/images/front-diagram.png" alt="Front view" />
            </div>
            <div class="diagram">
                <p class="diagram-title">Back</p>
                <img class="mb-2" src="assets/images/line.png" alt="Front view" />
                <img class="front-back-image" src="assets/images/back-diagram.png" alt="Back view" />
            </div>
        </div>

        <!-- Product Specifications -->
        <div class="specs">
            <h3>Product Specifications</h3>
            <ul>
                <li><strong>Dimensions:</strong> 33mm x 33mm x 11mm</li>
                <li><strong>Weight:</strong> 35g</li>
                <li><strong>Port:</strong> USB-C 2.0</li>
                <li><strong>Battery:</strong> 120 mAH</li>
                <li><strong>Time Modes:</strong> 5, 15, 30, or 60 minutes</li>
                <li><strong>Nudge:</strong> 3 gentle vibrations (end of timer)</li>
                <li><strong>Highlights:</strong> Small & Compact Design, Fast Charging, Long Battery Life and Clean
                    Metal Finish</li>
                <li><strong>Materials:</strong> Corrosion-resistant <strong>Anodized Aluminum</strong></li>
                <li><strong>Low-battery Indication:</strong> 1 gentle vibration instead of 3 at the end of timer</li>
            </ul>
        </div>
    </div>
</div>