<div class="modal-overlay">
    <div class="modal-container">
        <!-- Close button -->
        <div class="modal-header">
            <button class="close-btn" (click)="onClose()">
                <img src="assets/images/close_btn.png" alt="">
            </button>
        </div>

        <div class="modal-body">
            <div class="flex justify-center">
                <img class="w-96 object-contain" src="assets/images/About_us.png" alt="">
            </div>

            <div>
                <p class="mb-2">
                    Skye was born as an alternative to the tech monopolies that are fighting more and more aggressively for
                    our time and attention. Technology was supposed to save us time, simplify life, and let us focus on what
                    truly matters, but somehow it has started doing the opposite.
                </p>

                <p class="mb-2">
                    The best engineers in the world work day and night to make you use their technology longer because every
                    extra minute you give them makes them more money. It’s not your fault. You’ve been outnumbered,
                    out-coded, and out-engineered.
                </p>
            </div>

            <div class="flex justify-center">
                <img class="w-96 object-contain" src="assets/images/About_us_2.png" alt="About_us_2">
            </div>

            <div class="mt-2">
                <p class="mb-2">
                    Skye exists to give your time back. To reclaim it from technologies designed to keep you hooked. To let
                    you focus, breathe, and live your life fully.
                </p>

                <p class="mb-2">
                    <b>Skye was founded by three friends: Akash, Barath, and Veera.</b> Akash and Barath met during their
                    undergraduate days at Sri Venkateswara College of Engineering in Chennai, India, where they studied
                    Electrical and Electronics Engineering. Akash met Veera during his first job out of college in 2018.
                    That’s how this team came together.
                </p>
            </div>

            <div class="flex justify-center items-center flex-col">
                <div>
                    <img class="w-96 object-contain" src="assets/images/About_us_3.png" alt="About_us_2">
                </div>

                <div class="flex gap-8 mt-2">
                    <div class="font-bold text-center">
                        <p>Akash</p>
                        <p class="underline">LinkedIn Profile</p>
                    </div>
                    <div class="font-bold text-center">
                        <p>Barath</p>
                        <p class="underline">LinkedIn Profile</p>
                    </div>
                    <div class="font-bold text-center">
                        <p>Veera</p>
                        <p class="underline">LinkedIn Profile</p>
                    </div>
                </div>
            </div>

            <div>
                <p class="mt-2">
                    All three of us shared the same frustration. We were noticing how modern tech monopolies shape
                    attention,
                    influence choices, and sometimes make life noisier than it needs to be. The idea of Skye was born in
                    February 2025 after countless conversations about how we could create a solution that actually helps
                    people.
                </p>
                <p class="mt-2">
                    When we first shared our idea, reactions were strong and often mixed. People loved the technology in
                    their lives, but hated how much influence it had over every moment. They wanted control, clarity, and
                    simplicity, but had no clear solution.
                </p>
                <p class="mt-2">
                    So we decided to dig deeper. We ran an online survey with over 700 participants across ages,
                    professions, and genders, asking questions like what usually breaks focus and how people feel when they
                    are distracted too often. The insights we gained were invaluable and helped us understand the real
                    frustrations and needs of our users.
                </p>
            </div>

            <div class="mt-2"><img src="assets/images/About_us_4.png" alt=""></div>

            <div>
                <p class="mt-2">
                    By early May, we started building our first prototype. Testing it across demographics gave us amazing
                    feedback, and we knew we were on the right track. Soon after, we began working on the production
                    version.
                </p>
                <p class="mt-2">
                    We want Skye to be durable, reliable, and responsible. E-waste is already a huge problem worldwide, and
                    we refuse to add to it unnecessarily. That’s why we removed the USB-C charging cable. Most people
                    already have one, and Skye only needs to be charged once a week. Fewer cables, less waste, and less
                    packaging.
                </p>
            </div>

            <div class="mt-2 flex justify-center"><img src="assets/images/About_us_5.png" alt=""></div>

            <div>
                <p class="mt-2">
                    The components we use are the best available worldwide, and our PCBs are custom-made in-house, making
                    Skye a product you can trust to last.
                </p>
                <p class="mt-2">
                    We also wanted Skye to be something more people could own. We wanted everyone to have a chance to save
                    themselves from the tech monopolies that steal their time. So we’ve kept the price super honest,
                    considering the high-end materials and technology we use.
                </p>
                <p>
                    Skye is being rolled out in a made-to-order, pre-order fashion. This means we produce only the essential
                    amount, keeping things economically and environmentally responsible, while making the product accessible
                    to everyone who truly needs it.
                </p>
            </div>

            <div class="mt-2 flex justify-center"><img src="assets/images/About_us_6.png" alt=""></div>

            <div>
                <p class="mt-2">
                    Skye is just the beginning of something bigger. It’s a shift toward slow, mindful, and intentional
                    living. Thank you for taking the time to understand our project, our vision, and our story.
                </p>
                <p class="mt-2">
                    Much love,
                </p>
                <p class="font-bold">
                    Skye
                </p>
            </div>
        </div>
    </div>
</div>