<div class="modal-overlay">
    <div class="modal-container">
        <!-- Close button -->
        <button class="close-btn" (click)="onClose()">
            <img src="assets/images/close_btn.png" alt="">
        </button>

        <!-- Title -->
        <h2 class="title">About Pre-Ordering</h2>

        <p class="mb-2">Every confirmed pre-order will be delivered — no exceptions.</p>

        <p class="mb-2">A pre-order means reserving your Skye today before it officially ships.</p>

        <p class="font-bold mb-3">1. Shipping Timeline</p>

        <p>
            New pre-orders are expected to ship starting <b>30 November 2025</b>. Once your delivery window
            approaches, we will contact you to confirm your shipping address. The earlier you pre-order, the
            earlier you will receive your Skye.
        </p>

        <p class="font-bold mb-3">2. Special Pre-Order Price</p>

        <p>
            Pre-orders are currently offered at a <b>discounted rate of ₹4,900</b>. This discount is our way of thanking
            you for
            supporting our small team and helping us bring Skye to more people.
        </p>

        <p class="font-bold mb-3">3. Our Production Model</p>

        <p>
            Skye follows a <b>made-to-order production</b> process to minimize waste and ensure exceptional quality.
            Production begins once a batch is planned. Regardless of whether we reach our target quantity, every
            confirmed pre-order will be produced and shipped. If you have placed a pre-order, you can be certain your
            Skye will be delivered.
        </p>

        <p class="font-bold mb-3">4. Refund and Replacement Policy</p>

        <p>
            Due to this production approach, all pre-orders are <b>non-refundable</b> and <b>cannot be canceled</b> once
            placed. If your Skye arrives defective or damaged, we will provide a free replacement at no cost.
        </p>

        <p class="font-bold mb-3">5. Why This Matters</p>

        <p>
            By pre-ordering, you are not only reserving your device, but also supporting a mindful, sustainable
            production model that reduces waste and ensures a product crafted specifically for you.
        </p>

        <p class="font-bold mb-3">6. Stay Updated</p>

        <p class="mb-2">
            We are committed to <b>transparency</b>. Our team will be sharing daily progress updates, so you can follow
            along as your Skye is brought to life.
        </p>

        <p class="font-bold mb-3 underline">We share our progress every day — follow Skye’s daily updates here.</p>

        <p>
            You can always reach us at <a class="underline" href="mailto:skyedevices@outlook.com">skyedevices@outlook.com</a> if you need any specific details. We’ll respond within 24
            hours.
        </p>

    </div>
</div>