/* Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center; /* centers vertically */
  z-index: 1000;
  backdrop-filter: blur(2px); /* optional dull effect */
}

/* Modal box */
.modal-container {
  background: #fff;
  width: 80%;
  max-width: 90%;
  padding: 20px 30px;
  position: relative;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 90vh;
}

/* Close button */
.close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Title */
.title {
  text-align: left;
  color: #1d70b8;
  font-size: 32px;
  margin: 30px 0px 20px;
}

/* Product diagram layout */
.product-diagram {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 20px;
}

.diagram-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Specs section */
.specs h3 {
  text-align: center;
  margin: 10px 0px 10px;
  font-weight: bold;
}

.specs ul {
  list-style: none;
  padding: 0;
  line-height: 1.6;
}

.specs li {
  margin-bottom: 6px;
}

.specs strong {
  font-weight: bold;
}

.diagram {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .front-back-image {
    height: 231px;
  }
}
