.modal-overlay {
  position: fixed; /* fixed so it covers the viewport */
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  backdrop-filter: blur(2px);
  color: #555555;
}

.modal-container {
  background: #fff;
  width: 80%;
  max-width: 90%;
  position: relative;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  max-height: 90vh;
  display: flex;
  flex-direction: column; /* header + body layout */
}

.modal-title {
  text-align: left;
  color: #1d70b8;
  font-size: 32px;
  margin: 30px 0px 10px;
  // font-weight: bold;
}

.modal-header {
  position: relative;
  flex-shrink: 0;
  background: #fff;
}

.modal-body {
  flex: 1; /* take remaining height */
  overflow-y: auto; /* only body scrolls */
  padding: 20px;
}

.close-btn {
  position: absolute;
  right: 40px;
  top: 15px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
}

/* Title */
.title {
  text-align: center;
  color: #1d70b8;
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Product diagram layout */
.product-diagram {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 20px;
}

.diagram-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Specs section */
.specs h3 {
  text-align: center;
  margin: 10px 0px 10px;
  font-weight: bold;
}

.specs ul {
  list-style: none;
  padding: 0;
  line-height: 1.6;
}

.specs li {
  margin-bottom: 6px;
}

.specs strong {
  font-weight: bold;
}

.diagram {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .front-back-image {
    height: 231px;
  }
}
