.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 100%;
  overflow: hidden;
}

.page-image {
  width: 100%;
  // height: 100%;
  // object-fit: cover;
  // object-position: center;

  // New styles
  width: 100%;
  height: 99.5%;
  object-fit: cover;
  object-position: center;
  margin-top: -32px;
}

.mobile-img {
  display: none;
}

@media (max-width: 768px) {
  .image-container {
    height: 86%;
  }
  .page-image {
    width: 100vw;
    height: 86vh;
  }

  .desktop-img {
    display: none;
  }
  .mobile-img {
    display: block;
  }
}
