.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86%;
  width: 100%;
}

.page-image {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .page-image {
    width: 100vw;
    height: 90vh;
    margin-top: 26px;
  }
}
