<div class="first-container">
    <!-- Quote -->
    <div class="quote">
        <p class="text-center">“Skye is like a map for your distracted mind to<br /> find its way back to focus.”</p>
    </div>

    <!-- Title -->
    <div class="title">
        <h1>Skye</h1>
    </div>

    <!-- Middle Navigation Links -->
    <div class="nav-links">
        <button type="button" class="linklike" (click)="openModal('contactUs')">contact us</button>
        <button type="button" class="linklike" (click)="openModal('faq')">faq</button>
        <a href="mailto:skyedevices@outlook.com" class="linklike">email</a>
        <button type="button" class="linklike" (click)="openLink(instagramUrl)">instagram</button>
        <button type="button" class="linklike" (click)="openLink(linkedinUrl)">linkedin</button>
    </div>

    <!-- Footer Links -->
    <div class="footer-links">
        <button type="button" class="linklike" (click)="openModal('terms')">terms & conditions</button>
        <button type="button" class="linklike" (click)="openModal('privacy')">privacy policy</button>
        <button type="button" class="linklike" (click)="openModal('refund')">cancellation & refund policy</button>
        <button type="button" class="linklike" (click)="openModal('shipping')">shipping & delivery policy</button>
    </div>

</div>

<app-footer-modal [isOpen]="modalOpen" [title]="modalTitle" [content]="modalContent"
    (close)="closeModal()"></app-footer-modal>