<!-- <div class="black_border">
    <div class="container">
        <div class="top-text desktop">
            {{contents2.top_text}}
        </div>
        <div class="image-box">
            <img class="image" [src]="contents2.imageUrl" alt="content image" />
        </div>

        <div class="top-text mobile">
            {{contents2.top_text}}
        </div>

        <div class="text-box">
            <div class="texts">
                <h3 *ngIf="contents2.title" class="title">{{ contents2.title }}</h3>
                <p *ngFor="let para of contents2.description" [innerHTML]="para"></p>
            </div>
        </div>
    </div>
</div> -->

<div class="black_border">
    <div class="container">
        <!-- Desktop only -->
        <div class="top-text desktop">
            {{contents2.top_text}}
        </div>

        <div class="image-box">
            <img class="image" [src]="contents2.imageUrl" alt="content image" />
        </div>

        <!-- Mobile only -->
        <div class="top-text mobile">
            {{contents2.top_text}}
        </div>

        <div class="text-box">
            <div class="texts">
                <h3 *ngIf="contents2.title" class="title">{{ contents2.title }}</h3>
                <p *ngFor="let para of contents2.description" [innerHTML]="para"></p>
            </div>
        </div>
    </div>
</div>