<app-header></app-header>
<div class="mt-2">
  <app-home-page></app-home-page>
  <app-image-text-dispay2 [contents2]="contents2[0]"></app-image-text-dispay2>
  <app-image-display [imageUrl]="images[0]"></app-image-display>
  <app-image-text-display [content]="contents[0]"></app-image-text-display>
  <app-image-display [imageUrl]="images[1]"></app-image-display>
  <app-image-text-display [content]="contents[1]"></app-image-text-display>
  <app-image-text-dispay2 [contents2]="contents2[1]"></app-image-text-dispay2>
  <app-image-display [imageUrl]="images[2]"></app-image-display>
  <app-image-text-display [content]="contents[2]"></app-image-text-display>
  <app-image-text-display [content]="contents[3]"></app-image-text-display>
  <app-image-text-display [content]="contents[4]"></app-image-text-display>
  <app-image-text-display [content]="contents[5]"></app-image-text-display>
  <app-image-dispay2></app-image-dispay2>
  <app-shop-page></app-shop-page>
  <app-final-page></app-final-page>
</div>