<div class="fixed top-0 left-0 w-full flex justify-between items-center mb-2 px-5 md:px-16 py-2 bg-white z-50">
    <div>
        <p class="celtic-blue">SKYE</p>
    </div>
    <div class="flex items-center gap-5">
        <p class="cursor-pointer" (click)="openLink(instagramUpdatesUrl)">updates</p>
        <p class="cursor-pointer" (click)="aboutModal = true">about us</p>
        <p class="celtic-blue cursor-pointer">shop</p>
    </div>
</div>

<app-about-us-modal *ngIf="aboutModal" (close)="aboutModal = false"></app-about-us-modal>