<div
    class="fixed top-12 left-0 w-full flex justify-between items-center px-4 sm:px-8 md:px-16 lg:px-40 xl:px-60 2xl:px-72 py-2 bg-white z-50">
    <!-- px-4 sm:px-8 md:px-16 lg:px-32 xl:px-48 2xl:px-60 -->
    <!-- px-4 sm:px-10 md:px-20 lg:px-24 xl:px-55 2xl:px-70 -->
    <!-- Logo -->
    <div>
        <p class="celtic-blue" routerLink="home">SKYE</p>
    </div>

    <!-- Desktop Nav -->
    <div class="hidden md:flex items-center gap-5">
        <p class="cursor-pointer updates" (click)="openLink(instagramUpdatesUrl)">updates</p>
        <p class="cursor-pointer" (click)="aboutModal = true">about us</p>
        <p class="celtic-blue cursor-pointer" routerLink="shop">shop</p>
    </div>

    <!-- Mobile Hamburger -->
    <div class="md:hidden">
        <button (click)="menuOpen = !menuOpen">
            <!-- Simple Hamburger Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
    </div>

    <!-- Mobile Menu (Dropdown) -->
    <div *ngIf="menuOpen"
        class="absolute top-[38px] left-0 w-full bg-white shadow-md flex flex-col items-center gap-4 py-4 md:hidden">
        <p class="cursor-pointer" (click)="openLink(instagramUpdatesUrl); menuOpen = false">updates</p>
        <p class="cursor-pointer" (click)="aboutModal = true; menuOpen = false">about us</p>
        <p class="celtic-blue cursor-pointer" routerLink="shop" (click)="menuOpen = false">shop</p>
    </div>
</div>


<app-about-us-modal *ngIf="aboutModal" (close)="aboutModal = false"></app-about-us-modal>

<app-footer-modal [isOpen]="modalService.modalOpen" [title]="modalService.modalTitle"
    [content]="modalService.modalContent" (close)="modalService.closeModal()"></app-footer-modal>

<!-- <app-footer-modal [isOpen]="modalOpen" [title]="modalTitle" [content]="modalContent"
    (close)="closeModal()"></app-footer-modal> -->