<div class="px-5 md:px-8">
    <app-header></app-header>
  
    <div class="scroll-container mt-2">
      <section class="overlap">
        <app-first-page></app-first-page>
      </section>
  
      <section class="overlap">
        <app-image-text-dispay2 [contents2]="contents2[0]"></app-image-text-dispay2>
      </section>
  
      <section class="overlap">
        <app-image-display [imageUrl]="images[0]"></app-image-display>
      </section>
  
      <section class="overlap">
        <app-image-text-display [content]="contents[0]"></app-image-text-display>
      </section>
  
      <section class="overlap">
        <app-image-display [imageUrl]="images[1]"></app-image-display>
      </section>
  
      <section class="overlap">
        <app-image-text-display [content]="contents[1]"></app-image-text-display>
      </section>
  
      <section class="overlap">
        <app-image-text-dispay2 [contents2]="contents2[1]"></app-image-text-dispay2>
      </section>
  
      <section class="overlap">
        <app-image-display [imageUrl]="images[2]"></app-image-display>
      </section>
  
      <section class="overlap">
        <app-image-text-display [content]="contents[2]"></app-image-text-display>
      </section>
  
      <section class="overlap">
        <app-image-text-display [content]="contents[3]"></app-image-text-display>
      </section>
  
      <section class="overlap">
        <app-image-text-display [content]="contents[4]"></app-image-text-display>
      </section>
  
      <section class="overlap">
        <app-image-text-display [content]="contents[5]"></app-image-text-display>
      </section>
  
      <section class="overlap">
        <app-image-dispay2></app-image-dispay2>
      </section>
  
      <section class="overlap">
        <app-final-page></app-final-page>
      </section>
    </div>
  
  
    <app-about-us-modal *ngIf="aboutModal" (close)="aboutModal = false"></app-about-us-modal>
  </div>