/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.common_img_size {
  width: 300px;
}

b.light-blue {
  color: #1d70b8 !important;
}

.ul_list {
  margin-left: 30px;

  .list {
    list-style-type: disc;
  }
}